h1, h5, th {
    text-align: center;
}

body {
    background-color: #F0F0F0;
}

table {
    margin: auto;
    /* font-family: Segoe UI; */
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    box-shadow: -5px 5px 5px #888;
    /* border: thin ridge grey; */
    border: none;
    margin-left: auto;
    margin-right: auto;
}

th {
    background: #000000;
    color: #fff;
    max-width: 400px;
    padding: 5px 10px;
    font-weight: normal;
}

td {
    font-size: 11px;
    padding: 5px 20px;
    color: #000;
}

tr {
    background: #b8d1f3;
}

tr:nth-child(even) {
    background: #F0F0F0;
}

tr:nth-child(odd) {
    /*        background: #f2a900; */
    /* background: #f8d175; */
    background: #F9F9F9;
}

header {
    overflow: auto;
    background-color: #F9F9F9;
    /* background: left / no-repeat url(https://raw.githubusercontent.com/MrPlusGH/NPlusMiner/master/Includes/NPM.png); */
    padding: 5px 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

header img {
    float: left;
    padding: 8px;
    height: 60px;
    width: 60px;
}

SectionTitle {
    overflow: auto;
    padding: 5px 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

img {
  vertical-align:middle;
}

.right{
    float:right;
}

.left{
    float:left;
}

Footer{
    overflow: auto;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    background-color: #F9F9F9;
    font-size: x-small;
}