h1, h5, th {
    text-align: center;
}

table {
    margin: auto;
    font-family: Segoe UI;
    box-shadow: 10px 10px 5px #888;
    border: thin ridge grey;
}

th {
    background: #000000;
    color: #fff;
    max-width: 400px;
    padding: 5px 10px;
}

td {
    font-size: 11px;
    padding: 5px 20px;
    color: #000;
}

tr {
    background: #b8d1f3;
}

tr:nth-child(even) {
    background: #F0F0F0;
}

tr:nth-child(odd) {
    /*        background: #f2a900; */
    background: #f8d175;
}

header {
    overflow: auto;
    /* background: left / no-repeat url(https://raw.githubusercontent.com/MrPlusGH/NPlusMiner/master/Includes/NPM.png); */
    padding: 5px 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

header img {
    float: left;
    padding: 8px;
    height: 60px;
    width: 60px;
}
